.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImage{
    border-radius: 15px;
}

.movieImage:hover{
    opacity: 0.9;
}

.movieDetails{
    font-size: 1.5rem;
}

.fItem{
    margin-top: 0%;
}


